<!DOCTYPE html>
<html lang="en-GB">
<head>
  {% include 'includes/head.html' %}
  <style>
  html {
    position: relative;
    min-height: 100%;
  }
  body {
    /* Margin bottom by footer height */
    margin-bottom: 72px;
    padding-top: 50px;
    background-color: #eee;
  }
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 72px;
    background-color: #444444;
  }
  </style>
</head>
<body>
  {% include 'includes/nav.html' %}
  {% block heading %}{% endblock %}
  <div class="container">
    {% block content %}{% endblock %}
  </div>
  {% include 'includes/footer.html' %}
  {% include 'includes/scripts.html' %}
</body>
</html>
