{% extends "base.html" %}
{% block heading %}
<div class="panel panel-default">
  <div class="panel-body">
    <div class="container">
      <h3><span class="fa-stack fa-lg">
      <i class="fa fa-square-o fa-stack-2x fa-fw"></i>
      <i class="fa fa-terminal fa-stack-1x text-primary fa-fw"></i>
    </span>Mash Petitions</h3>
    </div>
  </div>
</div>
{% endblock %}
{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="list-group">
        <div class="list-group-item">
          <p class="lead">Mash Petitions is a digital service to help citizens explore information about UK government parliamentary petitions. It uses the government e-petitions platform and builds upon it by exposing more information and combining that with other open public data sources.</p>
          <p class="lead">It is free and intended for social good, to improve government transparency, enable effective campaigning and provide interesting analysis.</p>
          <a class="btn btn-lg btn-primary" href="/petitions?page=1&state=all" role="button">Go <i class="fa fa-chevron-right fa-fw"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
