{% extends "base.html" %}
{% block heading %}
<div class="panel panel-default">
  <div class="panel-body">
    <div class="container">
      <h3><span class="fa-stack fa-lg">
      <i class="fa fa-square-o fa-stack-2x fa-fw"></i>
      <i class="fa fa-terminal fa-stack-1x text-primary fa-fw"></i>
    </span>Mash Petitions</h3>
    </div>
  </div>
</div>
{% endblock %}
{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="list-group">
        <div class="list-group-item">
          <p class="lead">Mash Petitions is a digital public service that enables citizens to explore information about UK government and parliament petitions. It builds upon the government e-petitions platform, exposes more information and combines that with other public open data.</p>
          <p class="lead">It is a free service and intended for social good, to improve government transparency, enable effective lobbying and provide interesting analysis.</p>
        </div>
      </div>
      <div class="panel-footer">
        <a class="btn btn-lg btn-primary" href="/petitions?page=1&state=all" role="button">View Petitions <i class="fa fa-chevron-right fa-fw fa-lg"></i></a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
