<!DOCTYPE html>
<html lang="en-GB">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>Mash Petitions - {{title}}</title>

  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.6/paper/bootstrap.min.css" rel="stylesheet" integrity="sha384-2mX2PSpkRSXLQzmNzH3gwK6srb06+OfbDlYjbog8LQuALYJjuQ3+Yzy2JIWNV9rW" crossorigin="anonymous">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
  <link href="//cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" rel="stylesheet">
  <script src="//cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>

  <style>
  body {
    padding: 0;
    margin: 0;
  }
  html, body, #map {
    height: 100%;
  }
  </style>
</head>
<body>
  <div id="map"></div>

  <script>
  var map = L.map('map').setView([54.525564, -3.921976], 6);

  L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="http://osm.org/copyright" target="_blank">OpenStreetMap</a> contributors. Powered by <a href="http://mapit.mysociety.org/" target="_blank">MapIt</a>'
  }).addTo(map);

  var myStyle = {
      color: "#2196f3",
      opacity: 1
  };

  function onEachFeature(feature, layer) {
    layer.bindPopup("<b>" + feature.properties.name + "</b>" +
      "<p><i class=\"fa fa-user fa-fw\"></i> <a href=\"http://www.theyworkforyou.com" + feature.properties.url + "\" target=\"_blank\">" + feature.properties.mp + "</a></p>" +
      "<p><i class=\"fa fa-certificate fa-fw\"></i> " + feature.properties.party + " Party</p>" +
      "<p><i class=\"fa fa-pencil fa-fw\"></i> " + feature.properties.signature_count + " signatures</p>");
  }

  var geojson = L.geoJson({{extents|safe}}, {style: myStyle, onEachFeature: onEachFeature}).addTo(map);

  //Center map view on geojson
  map.fitBounds(geojson.getBounds());
  </script>
</body>
</html>
