{% extends "base.html" %}
{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <h3>Parliamentary Petitions</h3>
      <a href="{{ data['links']['self'] }}">Original Data</a>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>ID</th>
            <th>Action</th>
            <th>State</th>
            <th>Signatures</th>
          </tr>
        </thead>
        <tbody>
          {% for petition in data['data'] %}
          <tr>
            <td><a href="/petitions/{{ petition.id }}">{{ petition.id }}</a></td>
            <td>{{ petition.attributes.action }}</td>
            <td>
              {% if petition.attributes.government_response %}
              Response
              {% elif petition.attributes.debate %}
              Debate
              {% else %}
              {{ petition.attributes.state |capitalize }}
              {% endif %}
            </td>
            <td>{{ petition.attributes.signature_count }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
