{% extends "base.html" %}
{% block heading %}
<div class="panel panel-default">
  <div class="panel-body">
    <div class="container">
      <h3>Parliamentary Petitions</h3>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>ID</th>
            <th>Action</th>
            <th>Signatures</th>
            <th>State</th>
            <th>Response</th>
            <th>Debate</th>
          </tr>
        </thead>
        <tbody>
          {% for petition in data['data'] %}
          <tr>
            <td><a href="/petitions/{{ petition.id }}">{{ petition.id }}</a></td>
            <td>{{ petition.attributes.action }}</td>
            <td>{{ petition.attributes.signature_count }}</td>
            <td>{{ petition.attributes.state |capitalize }}</td>
            <td>
              {% if petition.attributes.government_response %}
                <i class="fa fa-check fa-fw text-success"></i>
              {% elif petition.attributes.signature_count >= 10000 %}
                <i class="fa fa-hourglass-half fa-fw text-warning"></i>
              {% else %}
                <i class="fa fa-times fa-fw text-danger"></i>
              {% endif %}
            </td>
            <td>
              {% if petition.attributes.debate %}
                <i class="fa fa-check fa-fw text-success"></i>
              {% elif petition.attributes.signature_count >= 100000 %}
                <i class="fa fa-hourglass-half fa-fw text-warning"></i>
              {% else %}
                <i class="fa fa-times fa-fw text-danger"></i>
              {% endif %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <nav>
      <ul class="pager">
        {% if (page|int - 1) < 1 %}
        <li class="previous disabled"><a href="#"><i class="fa fa-chevron-left fa-fw"></i> Previous</a></li>
        {% else %}
        <li class="previous"><a href="/petitions?page={{ page|int - 1 }}"><i class="fa fa-chevron-left fa-fw"></i> Previous</a></li>
        {% endif %}
        <li class="next"><a href="/petitions?page={{ page|int + 1 }}">Next <i class="fa fa-chevron-right fa-fw"></i></a></li>
      </ul>
    </nav>
  </div>
</div>
{% endblock %}
