{% extends "base.html" %}
{% block content %}
<div class="page-header">
  <h1>{{ data['data']['attributes']['action'] }}</h1>
</div>
<a href="{{ data['links']['self'] }}">Original Data</a>

<p>{{ data['data']['attributes']['background'] }}</p>
<p>{{ data['data']['attributes']['additional_details'] }}</p>

<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Signatures by country</h3>
      </div>
      <table class="table table-hover">
        <tr>
          <th>Country</th>
          <th>Signatures</th>
        </tr>
        {% for country in data['data']['attributes']['signatures_by_country']%}
        <tr>
          <td>{{ country.name }}</td>
          <td>{{ country.signature_count }}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
  
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Signatures by constituency</h3>
      </div>
      <table class="table table-hover">
        <tr>
          <th>Constituency</th>
          <th>MP</th>
          <th>Signatures</th>
        </tr>
        {% for constituency in data['data']['attributes']['signatures_by_constituency']%}
        <tr>
          <td>{{ constituency.name }}</td>
          <td>{{ constituency.mp }}</td>
          <td>{{ constituency.signature_count }}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>

{% endblock %}
