{% extends "base.html" %}
{% block heading %}
<div class="panel panel-default">
  <div class="panel-body">
    <div class="container">
      <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-home fa-fw"></i></a></li>
        <li class="active">Petitions</li>
      </ol>
      <h3>Parliamentary Petitions</h3>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-3">
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="list-group">
            <div class="list-group-item">
              <form>
                <input type="search" class="form-control input-lg" placeholder="Search...">
                <button type="submit" class="btn btn-default">Search</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="list-group">
            <div class="list-group-item">
              <h5 class="list-group-item-heading"><i class="fa fa-filter fa-fw"></i> Filter</h5>
            </div>
            <div class="list-group-item">
              <form>
                <div class="radio">
                  <label>
                    <input type="radio" name="filterRadios" id="filterRadios1" value="all" checked>
                    All
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" name="filterRadios" id="filterRadios2" value="open">
                    Open
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" name="filterRadios" id="filterRadios3" value="closed">
                    Closed
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" name="filterRadios" id="filterRadios4" value="rejected">
                    Rejected
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" name="filterRadios" id="filterRadios5" value="awaiting_response">
                    Awaiting Response
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" name="filterRadios" id="filterRadios6" value="with_response">
                    Responded
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" name="filterRadios" id="filterRadios7" value="awaiting_debate">
                    Awaiting Debate
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" name="filterRadios" id="filterRadios8" value="debated">
                    Debated
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" name="filterRadios" id="filterRadios9" value="not_debated">
                    Not Debated
                  </label>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-9">
    <div class="panel panel-default">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Petition</th>
            <th>Signatures</th>
            <th>State</th>
            <th>Response</th>
            <th>Debate</th>
          </tr>
        </thead>
        <tbody>
          {% for petition in data['data'] %}
          <tr>
            <td><a href="/petitions/{{ petition.id }}">{{ petition.attributes.action }}</a></td>
            <td><i class="fa fa-user fa-fw"></i> {{ petition.attributes.signature_count }}</td>
            <td>
              {% if petition.attributes.state == 'open' %}
              <i class="fa fa-unlock fa-fw text-success"></i> {{ petition.attributes.state |capitalize }}
              {% elif petition.attributes.state == 'closed' %}
              <i class="fa fa-lock fa-fw text-danger"></i> {{ petition.attributes.state |capitalize }}
              {% elif petition.attributes.state == 'rejected' %}
              <i class="fa fa-times fa-fw text-danger"></i> {{ petition.attributes.state |capitalize }}
              {% else %}
              {{ petition.attributes.state |capitalize }}
              {% endif %}
            </td>
            <td>
              {% if petition.attributes.government_response %}
              <i class="fa fa-check fa-fw text-success"></i> Responded
              {% elif petition.attributes.response_threshold_reached_at %}
              <i class="fa fa-hourglass-half fa-fw text-warning"></i> Awaiting Response
              {% else %}
              <i class="fa fa-times fa-fw text-danger"></i> No Response
              {% endif %}
            </td>
            <td>
              {% if petition.attributes.debate.debated_on %}
              <i class="fa fa-check fa-fw text-success"></i> Debated
              {% elif petition.attributes.debate.debated_on is none %}
              <i class="fa fa-times fa-fw text-danger"></i> Not Debated
              {% elif petition.attributes.debate_threshold_reached_at %}
              <i class="fa fa-hourglass-half fa-fw text-warning"></i> Awaiting Debate
              {% else %}
              <i class="fa fa-times fa-fw text-danger"></i> No Debate
              {% endif %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <nav>
      <ul class="pager">
        {% if (page|int - 1) < 1 %}
        <li class="previous disabled"><a href="#"><i class="fa fa-chevron-left fa-fw"></i> Previous</a></li>
        {% else %}
        <li class="previous"><a href="/petitions?page={{ page|int - 1 }}"><i class="fa fa-chevron-left fa-fw"></i> Previous</a></li>
        {% endif %}
        <li class="next"><a href="/petitions?page={{ page|int + 1 }}">Next <i class="fa fa-chevron-right fa-fw"></i></a></li>
      </ul>
    </nav>
  </div>
</div>
{% endblock %}
