{% extends "base.html" %}
{% block heading %}
<div class="panel panel-default">
  <div class="panel-body">
    <div class="container">
      <h3><span class="fa-stack fa-lg">
        <i class="fa fa-square-o fa-stack-2x fa-fw"></i>
        <i class="fa fa-terminal fa-stack-1x text-primary fa-fw"></i>
      </span>Mash Petitions</h3>
    </div>
  </div>
</div>
{% endblock %}
{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="alert alert-warning alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <p><strong>This is a BETA service.</strong> Your <a href="http://www.mashsoftware.com/contact/" target="_blank">feedback</a> will help to help improve it. Please see the <a href="http://www.mashsoftware.com/blog/" target="_blank">blog</a> for updates.</p>
    </div>
    <div class="panel panel-default">
      <div class="list-group">
        <div class="list-group-item">
          <p class="lead">Mash Petitions is a digital public service that enables users to explore UK government and parliament petitions. It builds upon the governments’ e-petitions platform, exposes more detailed information and combines it with other open public data to provide interesting analysis and insight.</p>
        </div>
      </div>
      <div class="panel-footer">
        <a class="btn btn-lg btn-primary" href="/petitions?page=1&state=all" role="button">View Petitions <i class="fa fa-chevron-right fa-fw fa-lg"></i></a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
